extends layout

block css
	style.
		.main-image {
			padding: 0;
		}

block content
	.row
		.col-xs-12.main-image
			img(src="img/header-bg.jpg" width="100%")
	.row
		.col-lg-12.page-header.text-center
				h2 ABOUT US
		.container
			.row
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 오수진
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 공정훈
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 김태준
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 이상규
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 정홍렬
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
	hr
	h2.text-center RECOMMENDED PRODUCTS
	hr
	.container
		.row.text-center
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6.hidden-lg.hidden-md.hidden-sm
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
		.row.text-center.hidden-xs
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
	hr
	h2.text-center FEATURED PRODUCTS
	hr
	.container
		.row
			.col-lg-4.col-md-6
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, vitae doloremque voluptatum doloribus neque assumenda velit sapiente quas aliquam ratione. Sed possimus corporis dolorum optio eaque in asperiores soluta expedita!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quasi doloribus non repellendus quae aperiam. Quos, eligendi itaque soluta ut dignissimos reprehenderit commodi laboriosam quis atque minus enim magnam delectus.
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus, ad, adipisci neque earum culpa magnam veritatis ipsum dolores odio laboriosam sed veniam accusamus! Architecto, provident nulla recusandae repellendus illo!
			hr.hidden-md.hidden-lg
			.col-lg-4.col-md-6
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eos, et in quam laboriosam ipsum laudantium laborum provident nihil modi reprehenderit tempora voluptatum quasi non libero quaerat vel. Assumenda, officiis?
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, minus, praesentium dignissimos non provident et consectetur illo expedita aliquam laboriosam esse incidunt deleniti accusantium debitis voluptas. Non vitae quos dolorem.
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ducimus quidem aliquam voluptate quas impedit modi neque quasi deleniti dicta. Dolore, provident, unde voluptas dicta fugit odit maxime eius minus!
			hr.hidden-lg
			.col-lg-4.col-md-12.hidden-md
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 1
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorum reprehenderit vitae omnis. Quidem, recusandae, magni ut perspiciatis nobis consequuntur ullam molestias molestiae obcaecati ea labore aspernatur modi. Impedit, fugit!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 2
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, libero, ea itaque atque vero quidem esse optio minus tenetur dolorem delectus nemo fugit deserunt quibusdam veritatis assumenda obcaecati praesentium omnis!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 2
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, cumque, ad voluptatibus vel perspiciatis reprehenderit magni in recusandae voluptatum iusto commodi laudantium veritatis esse labore nisi error tempora debitis impedit.
	hr
	.container.well
		.row
			.col-xs-6.col-sm-6.col-md-6.col-lg-7
				.row
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
			.col-xs-6.col-sm-6.col-md-6.col-lg-5
				address
					strong MyStoreFront, Inc.
					br
					|         Indian Treasure Link
					br
					|         Quitman, WA, 99110-0219
					br
					abbr(title='Phone') P:
					|  (123) 456-7890
				address
					strong Full Name
					br
					a(href='mailto:#') first.last@example.com

	.row
		.col-xs-12
			table.table
				thead
					td No
					td Title
					td Writter
					td Date
					td Views
				tbody
					each val in data
						tr
							td= val.serial_no
							td= val.title
							td= val.writter_SN
							td= val.date
							td= val.views