extends layout

block css
	style.
		.main-image {
			padding: 0;
		}

block content
	.row
		.col-xs-12.main-image
			img(src="img/header-bg.jpg" width="100%")
	.row
		.col-lg-12.page-header.text-center
				h2 RECOMMENDED PRODUCTS
		.container
			.row.text-center
				.col-xs-12.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product11
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
				.col-xs-12.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product12
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
				.col-xs-4.col-sm-4.col-md-4.col-lg-4
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product13
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
			.row.text-center.hidden-xs
				.col-sm-4.col-md-4.col-lg-3
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product21
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
				.col-sm-4.col-md-4.col-lg-3
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product22
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
				.col-sm-4.col-md-4.col-lg-3
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product23
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
				.col-sm-4.col-md-4.col-lg-3.col-xs-12.hidden-md.hidden-sm
					.thumbnail
						img.img-responsive(src='img/product/dog.jpg', alt='Thumbnail Image 1')
						.caption
							h3 Product24
							p Lorem ipsum dolor sit amet, consectetur adipisicing.
							p
								a.btn.btn-primary(href='#', role='button')
									span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
									|  Add to Cart
	hr
	h2.text-center MOST POPULAR
	hr
	.container
		.row
			.col-lg-4.col-md-6
				.media-object-default
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS11
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, vitae doloremque voluptatum doloribus neque assumenda velit sapiente quas aliquam ratione. Sed possimus corporis dolorum optio eaque in asperiores soluta expedita!
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS12
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quasi doloribus non repellendus quae aperiam. Quos, eligendi itaque soluta ut dignissimos reprehenderit commodi laboriosam quis atque minus enim magnam delectus.
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS13
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus, ad, adipisci neque earum culpa magnam veritatis ipsum dolores odio laboriosam sed veniam accusamus! Architecto, provident nulla recusandae repellendus illo!
			hr.hidden-md.hidden-lg
			.col-lg-4.col-md-6
				.media-object-default
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS21
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eos, et in quam laboriosam ipsum laudantium laborum provident nihil modi reprehenderit tempora voluptatum quasi non libero quaerat vel. Assumenda, officiis?
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS22
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, minus, praesentium dignissimos non provident et consectetur illo expedita aliquam laboriosam esse incidunt deleniti accusantium debitis voluptas. Non vitae quos dolorem.
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
									img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading NEWSS23
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ducimus quidem aliquam voluptate quas impedit modi neque quasi deleniti dicta. Dolore, provident, unde voluptas dicta fugit odit maxime eius minus!
			hr.hidden-lg
			.col-lg-4.col-md-12.hidden-md
				.media-object-default
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading Media heading 1
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorum reprehenderit vitae omnis. Quidem, recusandae, magni ut perspiciatis nobis consequuntur ullam molestias molestiae obcaecati ea labore aspernatur modi. Impedit, fugit!
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading Media heading 2
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, libero, ea itaque atque vero quidem esse optio minus tenetur dolorem delectus nemo fugit deserunt quibusdam veritatis assumenda obcaecati praesentium omnis!
								br.hidden-sm.hidden-md.hidden-lg
					a(href='#', style={color:'black'})
						.media
							.media-left.hidden-xs
								img.media-object(src='img/about/1.jpg', alt='placeholder image')
							.media-body
								h4.media-heading Media heading 3
								|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, cumque, ad voluptatibus vel perspiciatis reprehenderit magni in recusandae voluptatum iusto commodi laudantium veritatis esse labore nisi error tempora debitis impedit.
	hr
	h2.text-center ABOUT US
	hr
	.container
			.row
				.col-lg-1.hidden-sm.hidden-md.hidden-xs
				.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 오수진
					h5 Oh, Su Jin
					p
						| Representative
				.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/temp.jpg", data-holder-rendered='true')
					h3 이상규
					h5 Lee, Sang Gyu
					p
						| Chief Software engineer
				.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/temp.jpg", data-holder-rendered='true')
					h3 공정훈
					h5 Gong, Jung Hun
					p
						| Software engineer
				.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/temp.jpg", data-holder-rendered='true')
					h3 김태준
					h5 Kim, Tae Jun
					p
						| Software engineer
				.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/hongryul.jpg", data-holder-rendered='true')
					h3 정홍렬
					h5 Jung, Hong Ryul
					p
						| Hardware engineer
				.col-lg-1.hidden-sm.hidden-md.hidden-xs
	hr
	.container.well
		.row
			.col-xs-6.col-sm-6.col-md-6.col-lg-7
				.row
					.col-sm-4.col-md-4.col-lg-3.col-xs-12
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-3.col-xs-12
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-3.col-xs-12
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
			.col-xs-6.col-sm-6.col-md-6.col-lg-5
				address
					strong Board A to Z, Inc.
					br
					|         Indian Treasure Link
					br
					|         Quitman, WA, 99110-0219
					br
					abbr(title='Phone') P:
					|  (123) 456-7890
				address
					strong Full Name
					br
					a(href='mailto:#') first.last@example.com

	.row
		.col-xs-12
			table.table
				thead.thead-inverse
					tr
						td No
						td Title
						td Writter
						td Date
						td Views
				tbody
					each val in data
						tr
							td(scope='row')= val.serial_no
							td= val.title
							td= val.writter_SN
							td= val.date
							td= val.views