extends layout

block css
	style.
		.main-image {
			padding: 0;
		}
		#mainContent h1, #mainContent h2 {
			/* Styling for main headings */
			color: rgba(146,146,146,1.00);
		}
		#mainContent h3 {
			/*Captions ot Taglines */
			font-family: source-sans-pro, sans-serif;
			font-style: normal;
			font-weight: 200;
			color: rgba(146,146,146,1.00);
		}
		#mainContent #bannerImage {
			/*Container for main banner image */
			width: 100%;
			background-color: rgba(208,207,207,1.00);
		}
		#mainContent p {
			/* All paragraphs under maincontent */
			color: rgba(146,146,146,1.00);
			font-family: source-sans-pro, sans-serif;
			font-style: normal;
			font-weight: 200;
			text-align: justify;
		}
		#mainContent #authorInfo {
			/* Author info section */
			background-color: rgba(208,207,207,1.00);
		}
		#mainContent #authorInfo h2, #mainContent #authorInfo p {
			color: rgba(255,255,255,1.00);
			padding-left: 2%;
			padding-top: 11px;
		}
		#mainContent #authorInfo p {
			color: rgba(255,255,255,1.00);
			padding-left: 2%;
			padding-top: 0px;
			padding-bottom: 11px;
			padding-right: 2%;
		}

block content
	.row
		.col-xs-12.main-image
			img(src="img/header-bg.jpg" width="100%")
	.row
		.col-lg-12.page-header.text-center
				h2 ABOUT US
		.container
			.row
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 오수진
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 공정훈
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 김태준
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 이상규
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				.col-lg-4.col-sm-12.text-center
					img.img-circle(alt='140x140', style='width: 140px; height: 140px;', src="img/team/sujin.jpg", data-holder-rendered='true')
					h3 정홍렬
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
	hr
	h2.text-center RECOMMENDED PRODUCTS
	hr
	.container
		.row.text-center
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-sm-4.col-md-4.col-lg-4.col-xs-6.hidden-lg.hidden-md.hidden-sm
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
		.row.text-center.hidden-xs
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
			.col-xs-4.col-sm-4.col-md-4.col-lg-4
				.thumbnail
					img.img-responsive(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/400X200.gif', alt='Thumbnail Image 1')
					.caption
						h3 Product
						p Lorem ipsum dolor sit amet, consectetur adipisicing.
						p
							a.btn.btn-primary(href='#', role='button')
								span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
								|  Add to Cart
	hr
	h2.text-center FEATURED PRODUCTS
	hr
	.container
		.row
			.col-lg-4.col-md-6
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, vitae doloremque voluptatum doloribus neque assumenda velit sapiente quas aliquam ratione. Sed possimus corporis dolorum optio eaque in asperiores soluta expedita!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quasi doloribus non repellendus quae aperiam. Quos, eligendi itaque soluta ut dignissimos reprehenderit commodi laboriosam quis atque minus enim magnam delectus.
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus, ad, adipisci neque earum culpa magnam veritatis ipsum dolores odio laboriosam sed veniam accusamus! Architecto, provident nulla recusandae repellendus illo!
			hr.hidden-md.hidden-lg
			.col-lg-4.col-md-6
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eos, et in quam laboriosam ipsum laudantium laborum provident nihil modi reprehenderit tempora voluptatum quasi non libero quaerat vel. Assumenda, officiis?
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, minus, praesentium dignissimos non provident et consectetur illo expedita aliquam laboriosam esse incidunt deleniti accusantium debitis voluptas. Non vitae quos dolorem.
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Product
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ducimus quidem aliquam voluptate quas impedit modi neque quasi deleniti dicta. Dolore, provident, unde voluptas dicta fugit odit maxime eius minus!
			hr.hidden-lg
			.col-lg-4.col-md-12.hidden-md
				.media-object-default
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 1
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro dolorum reprehenderit vitae omnis. Quidem, recusandae, magni ut perspiciatis nobis consequuntur ullam molestias molestiae obcaecati ea labore aspernatur modi. Impedit, fugit!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 2
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, libero, ea itaque atque vero quidem esse optio minus tenetur dolorem delectus nemo fugit deserunt quibusdam veritatis assumenda obcaecati praesentium omnis!
					.media
						.media-left
							a(href='#')
								img.media-object(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB077.tmp/images/100X125.gif', alt='placeholder image')
						.media-body
							h4.media-heading Media heading 2
							|             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, cumque, ad voluptatibus vel perspiciatis reprehenderit magni in recusandae voluptatum iusto commodi laudantium veritatis esse labore nisi error tempora debitis impedit.
	hr
	.container.well
		.row
			.col-xs-6.col-sm-6.col-md-6.col-lg-7
				.row
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
					.col-sm-4.col-md-4.col-lg-4.col-xs-6
						div
							ul.list-unstyled
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
								li
									a Link anchor
			.col-xs-6.col-sm-6.col-md-6.col-lg-5
				address
					strong MyStoreFront, Inc.
					br
					|         Indian Treasure Link
					br
					|         Quitman, WA, 99110-0219
					br
					abbr(title='Phone') P:
					|  (123) 456-7890
				address
					strong Full Name
					br
					a(href='mailto:#') first.last@example.com

	.col-xs-12.community-list
		each val in data
			h6= val.serial_no
			h6= val.title
			h6= val.writter_SN
			h6= val.date
			h6= val.views
	section#mainContent
		//
			************************************************************************
			Main Blog content starts here
			****************************************************************************
		h1
			// Blog title
			| Post Title
		h3
			// Tagline
			| SOME AWESOME HERO TAGLINE
		#bannerImage
			img(src='file:///C|/Users/jeffe/AppData/Roaming/Adobe/Dreamweaver CC 2015/ko_KR/Configuration/Temp/Assets/eamB079.tmp/BlogPostAssets/images/SliderLayerImage.png', alt='')
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		p
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		aside#authorInfo
			// The author information is contained here
			h2 Author Name
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.